@font-face {
    font-family: 'Act_Of_Rejection';
    src: url('Act_Of_Rejection.eot');
    src: url('Act_Of_Rejection.eot') format('embedded-opentype'),
         url('Act_Of_Rejection.woff2') format('woff2'),
         url('Act_Of_Rejection.woff') format('woff'),
         url('Act_Of_Rejection.ttf') format('truetype'),
         url('Act_Of_Rejection.svg#Act_Of_Rejection') format('svg');
}
